In [74]:
import pandas as pd

In [75]:
df = pd.read_csv('diablo_2__resurrected.csv') ## What's my highest level character in my Diablo 2 logbook.
df.sort_values(by = ['Level'], ascending=False)

,Nickname,Level,Class,Character_Created,Entry_Added,ID
24,Coolio,98,Sorceress,2023-06-01,2024-02-14 00:00:00,25
12,LAPPAHLAPAPP,94,Paladin,2000-01-01,2023-10-05 17:39:58,13
7,LAPPAHLAPAPP,91,Paladin,2000-01-01,2022-12-04 00:00:00,8
9,MULEMULEMULE,87,Barbarian,2000-01-01,2023-10-05 17:39:11,10
11,AMAMMAMOOAH,86,Amazon,2000-01-01,2023-10-05 17:39:58,12
14,CARDANOADA,84,Sorceress,2000-01-01,2023-10-05 17:40:30,15
22,DROODOLOLLEE,83,Druid,2000-01-01,2023-10-05 17:42:00,23
6,CARDANOADA,82,Sorceress,2000-01-01,2022-12-04 00:00:00,7
23,POPULUS,53,Sorceress,2000-01-01,2023-10-05 17:42:10,24
8,POPULUS,53,Sorceress,2000-01-01,2022-12-04 00:00:00,9
3,DROODOLOLLEE,40,Druid,2000-01-01,2022-12-04 00:00:00,4
15,NEKRURURURU,24,Necromancer,2000-01-01,2023-10-05 17:40:56,16
13,ANNIHILATOR,19,Paladin,2000-01-01,2023-10-05 17:40:30,14
21,ASASSASA,18,Assassin,2000-01-01,2023-10-05 17:42:00,22
19,RUNEASK,13,Necromancer,2000-01-01,2023-10-05 17:41:39,20
2,HOHOHO,12,Sorceress,2000-01-01,2022-12-04 00:00:00,3
1,BABARARUPHA,6,Barbarian,2000-01-01,2022-12-04 00:00:00,2
17,STASHMASTER,3,Amazon,2000-01-01,2023-10-05 17:41:21,18
5,STASHMASTER,3,Amazon,2000-01-01,2022-12-04 00:00:00,6
0,BARACKA,3,Barbarian,2000-01-01,2022-12-04 00:00:00,1
16,DOSMOS,1,Druid,2000-01-01,2023-10-05 17:40:56,17
18,GEMEMEMEME,1,Assassin,2000-01-01,2023-10-05 17:41:21,19
20,BASEAREBELONG,1,Paladin,2000-01-01,2023-10-05 17:41:39,21
10,SKIBIDIBAP,1,Sorceress,2000-01-01,2023-10-05 17:39:11,11
4,MULEMULEMULE,1,Barbarian,2000-01-01,2022-12-04 00:00:00,5

In [76]:
df2 = pd.read_csv('ultima_online_outlands.csv') # What order did I create my UOO characters?
df2.sort_values(by = ['Character_Created'])

,Nickname,Template,isSkillsDone,Character_Created,Entry_Added,ID,Alchemy,Anatomy,Animal Lore,Animal Taming,...,Stealing,Stealth,Swordsmanship,Tactics,Tailoring,Taste Identification,Tinkering,Tracking,Veterinary,Wrestling
0,Sgt Dinkle Birch,Veterinary-tamer,0,2019-01-12,2022-12-04 00:00:00,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,George,Fencing and Parrying dexer with magery.,1,2019-01-12,2022-12-04 00:00:00,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Gabriella,Thief,1,2019-01-12,2022-12-04 00:00:00,11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Twindle,Gatherer,0,2019-01-13,2022-12-04 00:00:00,7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cartwright,T-mapper and lockpicker.,1,2019-01-14,2022-12-04 00:00:00,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jean,Gatherer,0,2019-01-16,2022-12-04 00:00:00,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Barklund,Tankmage,0,2019-01-16,2022-12-04 00:00:00,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Murdock,Tankmage with alchemy and poisoning,0,2019-01-19,2022-12-04 00:00:00,9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Populus,Tankmage,0,2019-01-19,2022-12-04 00:00:00,13,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,a frenzied harpy,Crafter,0,2019-02-10,2022-12-04 00:00:00,14,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Jazzy Beat,Hally-stealth-PK with Taming and stealth-spiders.,1,2019-07-12,2022-12-04 00:00:00,15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Konsum,Peacemaking and Discordance macing-bard,1,2020-01-07,2022-12-04 00:00:00,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,a wild slowpoke,Stealth-archer,0,2020-04-12,2022-12-04 00:00:00,10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Danger Tamer,Eval-tamer,1,2022-02-21,2022-12-04 00:00:00,12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a null player,Skinner built for survival,1,2022-09-26,2022-12-04 00:00:00,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df3 = pd.read_csv('pok__mon_go.csv') # How much did I play Pokémon during my last logbook entries?

df3['Distance_Walked_ROC'] = df3['Distance_Walked'].pct_change() * 100
df3['Pokémon_Caught_ROC'] = df3['Pokémon_Caught'].pct_change() * 100
df3['Pokémon_Stops_ROC'] = df3['Pokémon_Stops'].pct_change() * 100
df3

# 43% further walked;
# 97% more Pokémons caught;
# 78% more Pokémon stops spun;
#  since previous entry in logbook.

,Nickname,Level,Character_Created,Entry_Added,Distance_Walked,Pokémon_Caught,Pokémon_Stops,ID,Distance_Walked_ROC,Pokémon_Caught_ROC,Pokémon_Stops_ROC
0,Populus145085,38,2016-07-08,2022-12-29 00:00:00,1306,9933,4385,1,NaN,NaN,NaN
1,Populus145085,41,2016-07-08,2023-10-05 13:46:59,1869,19597,7821,2,43.108729,97.291855,78.358039

In [78]:
df4 = pd.read_csv('world_of_warcraft.csv') # What class do I have the most characters of?

df4['Class'].count() # 31 Characters with a class.
df4['Class'].nunique() # 11 Unique classes played.
df4['Class'].value_counts() # 5 Warriors, 5 Warlocks and 5 Priests.

Class
Warrior         5
Warlock         5
Priest          5
Hunter          3
Shaman          3
Rogue           2
Mage            2
Death Knight    2
Paladin         2
Druid           1
Demon Hunter    1
Name: count, dtype: int64

In [72]:
# That's the little interesting data I have from my personal vaults. I wish I knew where to find interesting datasets for free.

In [73]:
# Updating the database(s) with new logbook entries at the end of this year, 2024.